.card-container{
  width: 90%;
  height: 80%;
}
.card-img-container{
  width: 80%;
  height: 40%;
  padding: 20px;
}
@media (max-width: 768px) {
  .card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 250px;
  }
  .card-img-container{
    height: 200px;
    width: 300px;
    padding: 10px;
  }
  .card-text{
    font-size:1rem!important;
    padding: 10px;
  }
}
@media (max-width: 390px) {
  .card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
  }
  .card-img-container{
    height: 100px;
    width: 150px;
    padding: 10px;
  }
  .card-text{
    font-size:0.5rem!important;
    padding: 10px;
  }
}
