.cardcontainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 100%;
}
@media (max-width: 768px) {
  .cardcontainer{
    display: flex;
    flex-direction: column-reverse;
    grid-gap: 1px;
  }
}
@media (max-width: 390px) {
  .cardcontainer{
    display: flex;
    flex-direction: column-reverse;
    grid-gap: 1px;
  }
}
