.container-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80vh;
  align-items: center;
  padding: 20px;
  width: 100%;
}
@media (max-width: 768px) {
  .container-card{
    height: 40vh;
    width: 100%;
  }
}
@media (max-width: 390px) {
  .container-card{
    height: 30vh;
    width: 100%;
  }
}
