.container-header{
  position: fixed;
  top: 0;
  min-width: 100vw;
  z-index: 1;
}
.container-title{
  text-align:start;
  height: 50vh;
  width: 40%;
  padding: 30px;
  font-size: 20px;
}
@media (max-width: 768px) {
  .container-title{
    height: 30%;
    font-size: 15px;
    width: 70%;
  }
}
@media (max-width: 390px) {
  .container-title{
    height: 30%;
    font-size: 15px;
    width: 70%;
  }
}
